<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'shared/shim' %>
</head>
<body>
<div class="container">
  <div class="header">
    <%= render 'shared/nav' %>
    <h3><%= link_to "Флэшкарточкер", root_path, class: "logo" %></h3>
  </div>

<!-- Begin content -->
  <%= yield %>
<!-- End content -->

</div>
 <%= render 'shared/footer' %>
</body>
</html>
